doctype
html(lang='hu')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui-css@2.4.1/semantic.css")
        link(rel="stylesheet", href="css/main.min.css", attr)
        title Stratego
    body
        .stage-container
            header
                .logo
                .button-wrapper
                    a.ui.button.secondaryi(href="docs/jatekszabaly.pdf") Játékszabály


            #stage-1.stage
               .login-wrapper.ui.segment
                    
                    .login-container.ui.two.column.very.relaxed.grid.divided

                        .two.column.row
                        
                            .side.left-side.column.centered
                                h2.ui.huge.header Új játék kezdése
                                .ui.animated.button.primary.large(tabindex="0" onclick="document.stager.setActive(2)")
                                    .visible.content Játék
                                    .hidden.content
                                        i.right.arrow.icon

                            .side.right-side.column.centered
                                h2.ui.huge.header csatlakozás meglévőhöz
                                .ui.two.row.very.relaxed.grid
                                    .ui.input
                                        input(type="text" placeholder="Játékkód")
                                    .ui.animated.button.primary(tabindex="0" onclick="document.stager.setActive(3)")
                                        .visible.content Csatlakozás
                                        .hidden.content
                                            i.right.arrow.icon
                    .ui.vertical.divider Vagy

            #stage-2.stage
                .back-wrapper
                    div(onclick="document.stager.setActive(1)")
                        i.arrow.left.icon.large
                .ui.segment
                    h2.ui.header.huge.centered Játékkód
                    //- h2.ui.header.centered.code 6HP13M

                    .ui.action.input
                        input(type="text" class="copyInput" value="6HP13M" readonly)
                        button(type="button" name="copyToken" value="copy" class="copyToken ui right icon button")
                                i.clipboard.icon
                   
                   
                    p Küld el ezt a kódot a másik játékosnak, hogy be tudjon lépni ebbbe a játékmenetbe!
                    p A továbblépéshez be kell lépnie a másik játékosnak is.



            #stage-3.stage
                .ui.five.column.grid.stage-3-grid
                    .column.four.wide
                        .ui.comments
                            h1.ui.header.medium Játékosok
                            .comment
                                a.avatar
                                    img(src="/images/player_1.png")
                                .content
                                    a.author Player 1
                                   
                            .comment(data-ready="true")
                                a.avatar
                                    img(src="/images/player_2.png")
                                .content
                                    a.author Player 2

                        .ready-button
                            button.ui.button.positive.huge(type='submit' onclick="$('.ui.modal').modal('show');") Kész


                        .ui.basic.modal.tiny
                            .ui.icon.header
                                i.check.icon
                                |     Biztos hogy kész vagy?
                            .content
                                p
                                | Az elfogadás után bármikor elkezdődhet a játék, amint az ellefél is kész. Ezután már nem tudod módosítani a bábuid helyzetét.
                            .actions
                                .ui.red.basic.cancel.inverted.button
                                    i.remove.icon
                                    |       Nem
                                .ui.green.ok.inverted.button.approve
                                    i.checkmark.icon
                                    |       Igen



                    .column.eight.wide
                        
                        h1.ui.header.centered Csatamező elrendezése
                        .game-board-wrapper
                            .game-board
                                - var n = 36
                                while n > 0 
                                    - n--
                                    .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")



                    .column.four.wide
                        h1.ui.header.centered.medium Felhasználható katonák
                        .game-board-wrapper.stickup
                            .slots-wrapper
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p1.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='flag')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p2.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='bomb')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p3.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='bomb')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p4.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='bomb')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p5.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='1')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p6.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='2')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p7.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='3')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p8.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='4')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p9.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='5')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p10.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='6')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p11.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='7')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p12.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='8')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p13.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='9')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p14.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='10')
                                
            
            #stage-4.stage
                .ui.five.column.grid.stage-3-grid
                    .column.four.wide
                        .ui.comments
                            h1.ui.header.medium Játékosok
                            .comment
                                a.avatar
                                    img(src="/images/player_1.png")
                                .content
                                    a.author Player 1
                                   
                            .comment
                                a.avatar
                                    img(src="/images/player_2.png")
                                .content
                                    a.author Player 2

                        //- .ready-button
                            button.ui.button.positive.huge(type='submit' onclick="$('.ui.modal').modal('show');") Kész


                        //- .ui.basic.modal.tiny
                        //-     .ui.icon.header
                        //-         i.check.icon
                        //-         |     Biztos hogy kész vagy?
                        //-     .content
                        //-         p
                        //-         | Az elfogadás után bármikor elkezdődhet a játék, amint az ellefél is kész. Ezután már nem tudod módosítani a bábuid helyzetét.
                        //-     .actions
                        //-         .ui.red.basic.cancel.inverted.button
                        //-             i.remove.icon
                        //-             |       Nem
                        //-         .ui.green.ok.inverted.button.approve
                        //-             i.checkmark.icon
                        //-             |       Igen



                    .column.eight.wide
                        
                        h1.ui.header.centered Elenség köre
                        .game-board-wrapper
                            .game-board
                                - var n = 36
                                while n > 0 
                                    - n--
                                    .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")



                    .column.four.wide
                        h1.ui.header.centered.medium Elesett katonák
                        .game-board-wrapper.stickup
                            .slots-wrapper
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p1.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='flag')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p2.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='bomb')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p3.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='bomb')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p4.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='bomb')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p5.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='1')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p6.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='2')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p7.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='3')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p8.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='4')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p9.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='5')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p10.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='6')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p11.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='7')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p12.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='8')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p13.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='9')
                                
                                .board-slot(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #p14.piece(ondragstart="drag(event)" draggable="true" data-color="blue" data-piece='10')
 

    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/semantic-ui-css@2.4.1/semantic.min.js")
    script(src="js/main.js")
