doctype
html(lang='hu')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui-css@2.4.1/semantic.css")
        link(rel="stylesheet", href="css/main.min.css", attr)
        title Stratego
    body
        .stage-container
            header
                .logo
                .button-wrapper
                    a.ui.button.secondary(href="docs/jatekszabaly.pdf") Játékszabály


            #stage-1.stage
               .login-wrapper.ui.segment
                    
                    .login-container.ui.two.column.very.relaxed.grid.divided

                        .two.column.row
                        
                            .side.left-side.column.centered
                                h2.ui.huge.header Új játék kezdése
                                .ui.animated.button.primary.large(tabindex="0" onclick="document.stager.setActive(2)")
                                    .visible.content Játék
                                    .hidden.content
                                        i.right.arrow.icon

                            .side.right-side.column.centered
                                h2.ui.huge.header csatlakozás meglévőhöz
                                .ui.two.row.very.relaxed.grid
                                    .ui.input
                                        input(type="text" placeholder="Játékkód")
                                    .ui.animated.button.primary(tabindex="0" onclick="document.stager.setActive(3)")
                                        .visible.content Csatlakozás
                                        .hidden.content
                                            i.right.arrow.icon
                    .ui.vertical.divider Vagy

            #stage-2.stage
                .back-wrapper
                    div(onclick="document.stager.setActive(1)")
                        i.arrow.left.icon.large
                .ui.segment
                    h2.ui.header.huge.centered Játékkód
                    //- h2.ui.header.centered.code 6HP13M

                    .ui.action.input
                        input(type="text" class="copyInput" value="6HP13M" readonly)
                        button(type="button" name="copyToken" value="copy" class="copyToken ui right icon button")
                                i.clipboard.icon
                   
                   
                    p Küld el ezt a kódot a másik játékosnak, hogy be tudjon lépni ebbbe a játékmenetbe!
                    p A továbblépéshez be kell lépnie a másik játékosnak is.



            #stage-3.stage
                .ui.five.column.grid
                    //- .five.column.row
                    .column.four.wide
                        p col1
                        p itt meg kell jeleníteni, hogy player_X
                        p és kell egy ready gomb is
                    .column.eight.wide
                        p col2
                        p Ide kell rakni a játék táblát
                    .column.four.wide
                        p col3
                        p Itt vanna a bábuk
            #stage-4.stage
                h2 stage 4

    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/semantic-ui-css@2.4.1/semantic.min.js")
    script(src="js/main.js")
